bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: vaultwarden
    namespace: vaultwarden
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/vaultwarden/values.yaml.gotmpl
