resources:
  # Secret pour l'initialisation de la BDD Immich (lu par CNPG et par Immich)
  - apiVersion: v1
    kind: Secret
    metadata:
      name: immich-db-secret
      namespace: immich
    type: kubernetes.io/basic-auth
    stringData:
      username: immich
      password: {{ requiredEnv "IMMICH_DB_PASSWORD" | quote }}
