bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: cert-manager
    namespace: cert-manager
    chart: jetstack/cert-manager
    version: "v1.20.2"
    values:
      - ../../values/cert-manager/values.yaml