releases:
  - name: intel-gpu-plugin-cr
    namespace: intel-device-plugins-system
    chart: bedag/raw
    version: "2.0.2"
    values:
      - resources:
          - apiVersion: deviceplugin.intel.com/v1
            kind: GpuDevicePlugin
            metadata:
              name: gpu-plugin
            spec:
              resourceManager: true
