releases:
  - name: nfd
    namespace: node-feature-discovery
    chart: nfd/node-feature-discovery
    version: "0.15.2"
    values:
      - master:
          extraArgs:
            - "-label-whitelist=intel.gpu"
