bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: snapshot-controller
    namespace: kube-system
    chart: piraeus/snapshot-controller
    version: "5.0.3"
    values:
      - resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
