bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: traefik-config
    namespace: kube-system
    chart: incubator/raw
    version: "0.2.5"
    values:
      - ../../values/traefik/values.yaml.gotmpl
