bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: traefik
    namespace: traefik
    chart: traefik/traefik
    version: "v39.0.7"
    values:
      - ../../values/traefik/values.yaml.gotmpl