# Global environment values for homelab
domain: {{ requiredEnv "DOMAIN" | quote }}

nfs:
  server: {{ requiredEnv "NFS_SERVER" | quote }}
  mediaPath: {{ requiredEnv "NFS_MEDIA_PATH" | quote }}
garage:
  host: {{ requiredEnv "GARAGE_HOST" | quote }}
  endpointURL: "http://{{ requiredEnv "GARAGE_HOST" }}:3900"
  accessKey: {{ requiredEnv "GARAGE_ACCESS_KEY" | quote }}
  secretKey: {{ requiredEnv "GARAGE_SECRET_KEY" | quote }}

storageClasses:
  config: local-config
  media: nfs-media
