bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: immich-secrets
    namespace: immich
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/immich/secrets.yaml.gotmpl
