bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: flaresolverr
    installed: {{ dig "features" "flaresolverr" true .Values }}
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/flaresolverr/values.yaml.gotmpl
