bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: media-middlewares
    namespace: media
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/media/middlewares.yaml.gotmpl
