bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: prowlarr
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/media/prowlarr.yaml.gotmpl
