bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: prowlarr
    installed: {{ dig "features" "prowlarr" true .Values }}
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/prowlarr/values.yaml.gotmpl
