bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: qbittorrent
    installed: {{ dig "features" "qbittorrent" true .Values }}
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/qbittorrent/values.yaml.gotmpl
