bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: seerr
    installed: {{ dig "features" "seerr" true .Values }}
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/seerr/values.yaml.gotmpl
