bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: sonarr
    installed: {{ dig "features" "sonarr" true .Values }}
    namespace: media
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/sonarr/values.yaml.gotmpl
