bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: media-storage
    namespace: media
    chart: bedag/raw
    version: "2.0.2"
    wait: false
    values:
      - ../../values/media/storage.yaml.gotmpl
