bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: affine
    installed: {{ dig "features" "affine" "app" true .Values }}
    namespace: productivity
    chart: bjw-s/app-template
    version: "4.6.2"
    values:
      - ../../values/affine/values.yaml.gotmpl
