bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: n8n
    installed: {{ dig "features" "n8n" true .Values }}
    namespace: productivity
    chart: "oci://ghcr.io/n8n-io/n8n-helm-chart/n8n"
    version: "1.1.0"
    values:
      - ../../values/n8n/values.yaml.gotmpl
