server:
  extraArgs:
    - --insecure

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/router.tls.certresolver: "letsencrypt"
    # argo/argo-cd >= 9.x
    hostname: "argo.{{ requiredEnv "DOMAIN" }}"
    path: /
    pathType: Prefix

    # argo/argo-cd 5.x compatibility
    hosts:
      - "argo.{{ requiredEnv "DOMAIN" }}"
    paths:
      - /
