bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: authentik-storage
    namespace: auth
    chart: bedag/raw
    version: "2.0.2"
    values:
      - ../../values/authentik/storage.yaml.gotmpl

  - name: authentik
    namespace: auth
    chart: goauthentik/authentik
    version: "2026.2.2"
    values:
      - ../../values/authentik/values.yaml.gotmpl