helmDefaults:
  wait: true
  timeout: 600
  createNamespace: true
  cleanupOnFail: true
  deleteWait: true

repositories:
  - name: jetstack
    url: https://charts.jetstack.io
  - name: traefik
    url: https://traefik.github.io/charts
  - name: nfs-subdir
    url: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts
  - name: vmware-tanzu
    url: https://vmware-tanzu.github.io/helm-charts
  - name: goauthentik
    url: https://charts.goauthentik.io
  - name: bjw-s
    url: https://bjw-s-labs.github.io/helm-charts
  - name: bedag
    url: https://bedag.github.io/helm-charts
  - name: sure
    url: https://we-promise.github.io/sure/
  - name: jellyfin
    url: https://jellyfin.github.io/jellyfin-helm
  - name: argo
    url: https://argoproj.github.io/argo-helm
  - name: immich
    url: https://immich-app.github.io/immich-charts