bases:
  - ../../bases/default.yaml.gotmpl

releases:
  - name: immich
    installed: {{ dig "features" "immich" "app" true .Values }}
    namespace: photos
    chart: immich/immich
    version: "0.10.3"
    values:
      - ../../values/immich/values.yaml.gotmpl
